*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
main{
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: red;
}
nav{
    width: 100%;
    height: 6vh;
    background-color: #fff;
}
nav img{
    height: 6vh;
}
header{
    width: 100%;
    height: 14vh;
    background-color: yellow;
}
header h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    line-height: 14vh;
    margin-left: 2%;
    float: left;
}
header img{
    float: right;
    margin-right: 2%;
    margin-top: 1vh;
    height: 12vh;
}
section{
    width: 100%;
    height: 55vh;
    background-color: green;
}
footer{
    width: 100%;
    height: 7vh;
    background-color: purple;                                                                                      
}