*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
main{
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: red;
}
nav{
    width: 100%;
    height: 6vh;
    background-color: #fff;
}
nav img{
    height: 6vh;
}
header{
    width: 100%;
    height: 14vh;
    background-color: yellow;
}
header h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    line-height: 14vh;
    margin-left: 2%;
    float: left;
}
header img{
    float: right;
    margin-right: 2%;
    margin-top: 1vh;
    height: 12vh;
}
section{
    width: 100%;
    height: 55vh;
    background-color: green;
}
section article{
    width: 100%;
    height: auto;
    min-height: 25vh;
    background-color: #fff;
}
section article .largura{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 2vh;
    height: 5vh;
    border: 0;
    background-color: #013068;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    text-indent: 2%;
    border-radius: 10px;
}
#radios{
    width: 100%;
    float: left;
    /* background-color: gray; */
    margin-top: 2vh;
}
#radios input{
    margin-left: 3%;
}
#radios label{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #013068;
    font-weight: bold;
    text-transform: uppercase;
}
footer{
    width: 100%;
    height: 7vh;
    background-color: purple;                                                                                      
}